elpv/
src/elpv/
models/
histories/
outputs/
__pycache__/pyBench.cpython-39.pyc
src/__pycache__/Dataloader.cpython-39.pyc
src/__pycache__/cnn.cpython-39.pyc
src/__pycache__/Dataloader.cpython-39.pyc

src/__pycache__/performancetest.cpython-39.pyc
src/__pycache__/Dataloader.cpython-39.pyc
src/__pycache__/model_gabor.cpython-39.pyc
src/__pycache__/pyBench.cpython-39.pyc

src/utils
src/labels.csv
src/images
